<section class="login-form">
  <form fxLayout="column" [formGroup]="loginForm" fxLayoutAlign="center center" fxLayoutGap="10px" (ngSubmit)="verifyUser()">
    <img src="../../../assets/digiresume-green.png" width="20%">
    <mat-form-field>
      <input type="email" matInput placeholder="Email Address" formControlName="email">
      <mat-error >Valid Email is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="password" matInput placeholder="Password" formControlName="password">
      <mat-error>Password must not be empty.</mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary">Login</button>
    <a routerLink="/resetpassword" color="warn">Forget Password?</a>
  </form>
  
</section>