<section class="login-form">

  <form fxLayoutAlign="center center"
  fxLayout="column"
  fxLayoutGap="40px" class="overlay" [formGroup]="forgotPasswordForm"
  (ngSubmit)="forgotPasswordForm && !this.isEmailSent ? sendEmail(): changePassword()">
    <img width="20%" src="../../../assets/digiresume-green.png">
    <mat-card fxLayout="column">
    <h2>Forgot Password</h2>
    <mat-form-field *ngIf="!this.isEmailSent">
      <input formControlName="email" type="email" matInput placeholder="Email"/>
      <mat-error>Valid Email is Required</mat-error>
    </mat-form-field>
    <div fxLayout="column" *ngIf="isEmailSent">
      <mat-form-field>
        <input formControlName="code" matInput placeholder="Enter Code"/>
        <mat-error>Valid Code is Required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input formControlName="new_password" matInput placeholder="New Password"/>
        <mat-error>Valid Password is Required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input formControlName="confirm_password" matInput placeholder="Confirm Password"/>
        <mat-error>Valid Password is Required</mat-error>
      </mat-form-field>
    </div>
    <div *ngIf="!this.isEmailSent" style="margin-top: 2rem" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="end">
      <button type="submit" color="primary" mat-raised-button>Send Email</button>
    </div>
    <div *ngIf="this.isEmailSent" style="margin-top: 2rem" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="end">
      <button type="submit" color="primary" mat-raised-button>Change Password</button>
      <button color="accent" mat-raised-button>Go to Login</button>
    </div>
    <mat-spinner *ngIf="this.loading" color="accent" diameter="40"></mat-spinner>
    </mat-card>
    </form>
  <!-- <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <img src="../../../assets/digiresume-green.png" width="20%">
    <h2>Forgot Your Password?</h2>
    <mat-form-field>
      <input type="email" matInput placeholder="Email Address" ngModel name="email" email required #emailInput="ngModel">
      <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty.</mat-error>
      <mat-error *ngIf="!emailInput.hasError('email')">E-Mail is invalid.</mat-error>
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Send Email</button>
    <a routerLink="/" mat-raised-button color="warn">Cancel</a>
  </form> -->
</section>